<nav class="navbar navbar-toggleable-md fixed-top navbar-inverse bg-inverse nav-styles">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
    aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  <a class="navbar-brand" href="#">Enjoy Musics</a>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/news" routerLinkActive="active">News</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/hotspot" routerLinkActive="active">Hot Spot</a>
      </li>
      <li>
        <div ngbDropdown class="d-inline-block dropdown-links">
          <button class="btn btn-outline-primary" id="dropdownMenu1" ngbDropdownToggle>Find</button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <button class="dropdown-item" routerLinkActive="active">Albums</button>
            <button class="dropdown-item" routerLinkActive="active">Artists</button>
            <button class="dropdown-item" routerLinkActive="active">Songs</button>
          </div>
        </div>
      </li>
    </ul>
  </div>
</nav>